body { 
    background-color: dodgerblue;
    color: hotpink;

}


body > nav  > ul{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.main_list {
    display: flex;
    align-items: center;
    justify-content: center;
}