{%extends "base.html"%}

{%block content%}
    <h1>My Event List</h1>
    {%for event in events%}
    <div class="main_list">
        <p>
            <b>{{ event.name }}</b>: {{event.date}} : {{event.no_guests}} : {{event.location}} : {{event.description}} : 
            {%if event.recurring == True:%}
                <span>&#128260</span>
            {% else %}
                <span>&#128405</span>
            {%endif%} 
        </p> <br>

       
      
            <p><a href="/events/delete/{{events.index(event)}}">DELETE EVENT</a></p>
            <!-- <p> <button type="submit" value="Delete Event" name={{event.name}}>DELETE EVENT</button> </p> -->
        
    </div>
    {%endfor%}

{%endblock%}